<ol class="post-list">
    {{#each posts as |post|}}
  <li>
    <!--14.4.3 partials...need a > character to use ans connect to post-info page in partials folder?-->
  {{> post-info post }}
  </li>
  {{/each}}
</ol>